label {
  display: inline-block;
}

form {
  margin: 0;
}

#info {
    /*display: block;*/
    position: relative;
    margin: 0px auto;
    width: 25%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    position: absolute;
    z-index: 1000;
}

.App-header > h1 {
  font-size: 4rem;
}

.mapboxgl-canvas {
  position: inherit !important;
}

.marker {
  height: 5px;
  width: 5px;
}

.lng, .lat {
  display: inline;
  margin: 5px;
}

.tempModal {
  display: block;
  float: right;
}

.search {
  display: inline-block;
}

.styleRadio {
  display: inline-block;
  margin-left: 40px;
}

.routeName, .rating {
  font-weight: 400;
  font-size: 16px;
  height: 50px;
  width: 150px;
  border: 1px solid lightgrey;
}

.fa-star-o:hover {
  color: yellow;
}

.clicked {
  color: yellow;
}
