.mapboxgl-canvas {
  position: inherit !important;
}

.marker {
  height: 5px;
  width: 5px;
}


#info {
    /*display: block;*/
    position: relative;
    margin: 0px auto;
    width: 25%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    position: absolute;
    z-index: 1;
}

.lng, .lat {
  display: inline;
  margin: 5px;
}

.tempModal {
  display: block;
  float: right;
}

.search {
  display: inline-block;
}

.styleRadio {
  display: inline-block;
}

label {
  display: inline-block;
}
