.mapboxgl-canvas {
  position: inherit !important;
}

.marker {
  height: 5px;
  width: 5px;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}
